
    <div class="mypage_content">

      <div class="mypage_header">

        <div class="mypage_info">
          <div class="mypage_icon">
            アイコン入れる
          </div>
          <div class="mypage_nickname">
            <%# 自分のニックネーム %>
            <%= @user.name %> 
          </div>
          <div class="mypage_edit">
            <a href="#">マイページの編集ボタン</a>
          </div>
          <div class="mypage_profile">
            プロフィールをここ表示する
          </div>
          <div class="mypage_follow">
            フォロー数
          </div>
          <div class="mypage_follower">
            フォロワー数
          </div>
        </div>
      

        <div class="mypage_menu">
          <div class="mypage_dm">
            <%= link_to "ダイレクトメッセージ", rooms_path %>
          </div>
          <div class="mypage_fav_sound">
            <%= link_to "お気に入り一覧", favorite_sounds_path %>
            <a href="#">自分のお気に入りした曲一覧へのリンク</a>
          </div>
          <div class="mypage_fav_session">
            <a href="#">自分のお気に入りしたセッション一覧へのリンク</a>
          </div>
        </div>

      </div>

      <div class="mypage_body">
        <div class="mypage_sound">
          自分の投稿したサウンド一覧

          <div class="sound_temp">
            <% @sound.each do |sound| %>
              <div class="mypage_sound_content">
                <p class="mypage_sound_user"><%= sound.user.name %>さんの投稿</p> 
                <p><span>タイトル:</span><%=link_to sound.title, sound_path(sound.id) ,class:"sound-title"%></p> 
                <p class="mypage_sound_exp"><span>説明:</span><%= sound.explain %></p> 
                <%= audio_tag(sound.file.url, autoplay: false, controls: true) %>
                <div class="mypage_sound_session">
                  <%=link_to "#{sound.title}とセッション", sound_for_session_path(sound.id),class:"mypage_session_posi" %>
                </div> 
              </div>
            <% end %>
          </div>

        </div>

        <div class="mypage_session">

          自分の音源が入っているセッション一覧
          <% @session.each do |session| %>
            <% if session.sounds.where(user_id: current_user.id).present? %>
          
              <div class="mypage_session_content">
                
                <div class="mypage_session_info">
                  <div class="mypage_session_title">
                    タイトルが入る
                    <%= session.room %>
                  </div>
                  <div class="mypage_session_exp">
                    説明が入る
                    <%# sessionテーブルに説明のカラムを追加する %>
                  </div>
                  <div class="mypage_session_sound_name">
                    <% @session_sound.each do |session_sound| %>
                      <% if session_sound.session_id == session.id %>
                        <div>
                        ● <%= session_sound.sound[:title] %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>

                <div class="mypage_session_sound_control">
                  <button>play</button>
                  <button>stop</button>
                  <button>pause</button>
                </div>

              </div>
            <% end %>
          <% end %>

        </div>
      </div>

    </div>