<%= form_with(model: sound, local: true) do |f|%>
<%=  render 'error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :explain, "コメント" %><br />
    <%= f.text_area :explain, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :file, "オーディオファイル" %><br />
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>