<% if user_signed_in? %>
  <div class="modal" id="modal" style="display:none;">
<% else %>
  <% if current_page?(new_user_registration_path) || current_page?(user_session_path) %>
    <div class="modal" id="modal" style="display:none;">
  <% else %>
    <div class="modal" id="modal">
  <% end %>
<% end %>

  <div class="modal_contents">
    <div class="modal_del_btn" id="modal_del_btn">
      <span class="batsu"></span>
    </div>
    <div class="modal_body">
      
      <div class="modal_title">
        <h1>Gig So Matchの説明</h1>
      </div>
      <div class="modal_menu">
        <h3>MENU</h3>
        <ul>
          <li><a href="#modal_exp">Gig So Matchとは</a></li>
          <li><a href="#modal_user">ユーザー登録しよう</a></li>
          <li><a href="#modal_post">投稿してみよう</a></li>
          <li><a href="#modal_session">セッションしよう</a></li>
          <li><a href="#modal_fav">お気に入り登録しよう</a></li>
          <li><a href="#modal_mypage">マイページを使おう</a></li>
          <li><a href="#modal_dm">DMを送ろう</a></li>
        </ul>
      </div>

      <div class="modal_menu_exp modal_content" id="modal_exp">
        <h1>Gig So Matchとは</h1>
        <div class="modal_menu_exp_content">
          GigSoMatchは、<br>
          <span class="modal_deco">音声投稿を通じたコミュニケーションアプリです。</span><br>
          気軽に自身の音声ファイルを投稿することができ、
          アプリケーション内に気になる音源があったら、
          自分の音源、または他の音源とさらに複数の音源をミックスして聞くことができます。
          また,投稿者同士のダイレクトメッセージ機能で他の投稿者とコミュニケーションを図ることが可能です。
        </div>
      </div>

      <div class="modal_menu_user modal_content" id="modal_user">
        <h1>ユーザー登録しよう</h1>
        <div class="model_menu_user_content">
          GigSoMatchでは、アカウントを作成することで利用できるサービスが多くなります。<br>

          トップページのヘッダーには、ログインボタンと、新規登録ボタンがあるので<br>
          <br>
          ●アカウント作成済みなら<br>
          　1. ログインボタン
            　　　* ユーザーのログインページに遷移<br>
            　　　Emailアドレスとパスワードを入力してログインしてください<br>
          
          <br>
          ●アカウントをお持ちでなければ<br>
          　2. 新規登録ボタン
            　　　*  ユーザーの新規登録ページに遷移<br>
            　　　以下を入力してアカウントを作成してください<br>
            <ul style="display:inline-block">
              <li>ユーザー名</li>
              <li>Emailアドレス</li>
              <li>パスワード</li>
            </ul>
            
          <br>
            
            <br>
            <%= image_tag "top_page1",class:"modal_image" %>

          
        </div>
      </div>

      <div class="modal_menu_post modal_content" id="modal_post">
        <h1>投稿しよう</h1>
        <div class="model_menu_post_content">
          <div class="modal_menu_sign_in">
            投稿するにはアカウント登録が必要です。<br>
            アカウントをお持ちでなければ<a href="">こちら</a>からアカウントを作成してからご利用ください<br>
            <a href="">アカウント登録</a> 
            <a href="#modal_user">アカウント登録の説明</a>  <br>
          </div>

          <br>
          ログインしていれば、トップページに投稿ボタンが表示されます。<br>
          投稿ボタンから投稿フォームに遷移するので、<br>
          下記の項目を記述、選択して、投稿ボタンを押してください。<br>
          
          <br>

          <ul style="display:inline-block">
            <li>タイトル</li>
            <li>説明</li>
            <li>オーディオファイル</li>
          </ul>

          <br>
          
          <br>
          トップページに投稿したコンテンツが表示されます。<br>

          <%= image_tag "top_page3_signed_in",class:"modal_image" %>
          <%= image_tag "sound_post_page",class:"modal_image" %>


        </div>
      </div>

      <div class="modal_menu_session modal_content" id="modal_session">
        <h1>セッションしよう</h1>
        <div class="model_menu_session_content">
          <div class="modal_menu_sign_in">
            投稿するはアカウント登録が必要です。<br>
            アカウントをお持ちでなければ<a href="">こちら</a>からアカウントを作成してからご利用ください<br>
            <a href="">アカウント登録</a> 
            <a href="#modal_user">アカウント登録の説明</a>  <br>
          </div>

          トップページに表示されているサウンドファイルは、<br>
          各コントローラーで再生、Vol調整可能です。<br>

          気に入った投稿の ~~とセッション　ボタンをクリックすると,
          セッションルーム作成ページへ遷移します。
          一緒に聴きたいサウンドタイトルを選択してセッションを作成すると,
          セッションページに遷移します<br>
          <%= image_tag "session_create1_movie",class:"modal_image" %>
          <%= image_tag "session_create2_movie",class:"modal_image" %>
          <br>

          セッションページでは、以下のボタンで<br>
                    セッション内のサウンドを同時にコントロールできます。<br>
          <ul style="display:inline-block">
            <li>Play</li>
            <li>Pause</li>
            <li>Reset</li>
          </ul>

          <br>

          
          <%= image_tag "session_info",class:"modal_image" %>

        </div>
      </div>

      <div class="modal_menu_fav modal_content" id="modal_fav">
        <h1>お気に入り登録しよう</h1>
        <div class="model_menu_fav_content">
          <div class="modal_menu_sign_in">
            投稿するはアカウント登録が必要です。<br>
            アカウントをお持ちでなければ<a href="">こちら</a>からアカウントを作成してからご利用ください<br>
            <a href="">アカウント登録</a> 
            <a href="#modal_user">アカウント登録の説明</a>  <br>
          </div>
          トップページに表示されている投稿の<br>
          「お気に入り登録ボタン」<br>
          をクリックするとお気に入り登録ができます。<br>
          お気に入り登録した投稿は、一覧として保存されます。<br>
          <a href="#modal_mypage">マイページ</a>から、お気に入り一覧ページへ移動すれば、<br>
          お気に入り登録した投稿を確認できます。
          <%= image_tag "fav_movie1",class:"modal_image" %>

        </div>
      </div>

      <div class="modal_menu_mypage modal_content" id="modal_mypage">
        <h1>マイページを使おう</h1>
        <div class="model_menu_mypage_content">
          <div class="modal_menu_sign_in">
            投稿するはアカウント登録が必要です。<br>
            アカウントをお持ちでなければ<a href="">こちら</a>からアカウントを作成してからご利用ください<br>
            <a href="">アカウント登録</a> 
            <a href="#modal_user">アカウント登録の説明</a>  <br>
          </div>
          トップページのヘッダーにある　自身のユーザー名をクリックすると、<br>
          マイページに遷移します。

          マイページでは、以下が表示されています。<br>
          <br>

          <ul style="display:inline-block">
            <li>自分の投稿一覧</li>
            <li>自分の投稿が含まれているセッション一覧</li>
            <li>ダイレクトメッセージ機能への遷移ボタン</li>
            <li>お気に入り一覧の遷移ボタン</li>
            <li>セッション一覧への遷移ボタン</li>
          </ul>

          <br>
          <br>
          ここでは、各オーディオファイルの視聴と各セッション毎の視聴をすることができます。<br>
          <br>
          ここから各機能へ遷移できる、HUBのようなページです
          <%= image_tag "mypage",class:"modal_image" %>

        </div>
      </div>

      <div class="modal_menu_dm modal_content" id="modal_dm">
        <h1>メッセージを送ろう</h1>
        <div class="model_menu_dm_content">
          <div class="modal_menu_sign_in">
            投稿するはアカウント登録が必要です。<br>
            アカウントをお持ちでなければ<a href="">こちら</a>からアカウントを作成してからご利用ください<br>
            <a href="">アカウント登録</a> 
            <a href="#modal_user">アカウント登録の説明</a>  <br>
          </div>
          <a href="#modal_mypage">マイページ</a>のダイレクトメッセージボタンをクリックして遷移します。<br>
          ダイレクトメッセージ機能では、<br>
          他のユーザーとメッセージのやりとりができます。<br>

          <%= image_tag "DMpage",class:"modal_image" %>

        </div>
      </div>

    </div>
  </div>
</div>