<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Gig</title>
</head>
<body>

  <div class="contents">
    <div class="top-content">
      <a href="#" class="link-logo"><%= image_tag("/assets/title_logo.png", class: "logo-image" ) %></a>
      
    </div>

    <div class="search-content">
      <%= form_with(url: "#" , local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>

    <div class="middle-content">
      <div class="sound-tweet">
        <div class="user-name">
          
        </div>
        <div class="sound-explain">
        
        </div>
        <div class="favo"></div>
      </div>
      <div class="sound-file">
        <% @sound.each do |s| %>
          <div class="sound-content ">
          
            <p class="sound-name"><%= s.user.name %>さんの投稿</p> 
            <p><span>タイトル:</span><%=link_to s.title, sound_path(s.id) ,class:"sound-title"%></p> 
            <p class="sound-exp"><span>説明:</span><%= s.explain %></p> 
            <%= audio_tag(s.file.url, autoplay: false, controls: true) %>
            <div class="sound-session">
              <%=link_to "#{s.title}とセッション", sound_for_session_path(s.id),class:"session-posi" %>
            </div> 
            <%#= link_to "ダウンロード" , s.file.url %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</body>
</html>