<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Gig</title>
</head>
<body>

  <div class="contents">
    <div class="top-content">
      <a href="#" class="link-logo"><%= image_tag("/assets/title_logo.png", class: "logo-image" ) %></a>
      
    </div>

    <div class="search-content">
      <%= form_with(url: "#" , local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>

    <div class="middle-content">
      <div class="sound-tweet">
        <div class="user-name">
          
        </div>
        <div class="sound-explain">
        
        </div>
        <div class="favo"></div>
      </div>
      <div class="sound-file">
        <% @sound.each do |s| %>
          <div class="sound-content ">

            <div class="sound-user-icon">
                アイコン
            </div>

            <div class="sound-tweet">
            
              <div class="sound-name">
                <%= s.user.name %>さんの投稿
              </div> 
              <div class="sound-main-sound">
                <div>
                  タイトル:<%=link_to s.title, sound_path(s.id) ,class:"sound-title" %>
                </div>
                <div>
                  <%= audio_tag(s.file.url, autoplay: false, controls: true) %>
                </div>
              </div> 
              
              <div class="sound-exp">
                <span>説明:</span><%= s.explain %>
              </div> 
              
            </div>

            <div class="sound-tweet-service">
              <div class="sound-session">
                <%=link_to "#{s.title}とセッション", sound_for_session_path(s.id),class:"session-posi" %>
              </div> 
              <%#= link_to "ダウンロード" , s.file.url %>
              <div class="sound-fav">
                <div class="sound-fav-link" id="sound-fav-link">
                  <button class="sound-fav-button">お気に入り

                    <%= form_with model: @favorite_sounds_new, class: 'sound-fav-link-form', id: 'sound-fav-link-form', local: true do |f| %>
                      <div class="form-input">
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :sound_id, value: s.id %>
                        <%= f.hidden_field :favorite, value: true %>
                        
                      </div>
                      <% f.submit '送信', class: 'sound-fav-link-form-submit', id: 'sound-fav-link-form-submit' %>
                    <% end %>

                  </button>

                </div>
                <%#= link_to 'お気に入り', favorite_sounds_path, method: :post, params: { user_id: s.user_id, sound_id: s.id, favorite: true} %>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>

  </div>

</body>
</html>