<!DOCTYPE html>
<html>
  <head>
    <title>SessionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=M+PLUS+Rounded+1c:wght@900&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <header>

      <div class="logo">
        <%= image_tag "title_logo.png", class: "header-logo" %>
      </div>

      <div class="logo-title">
        <%= link_to "GIGSOMATCH", root_path , class:"logo-deco" %>
      </div>

      <div class="signin-button">
        <% if signed_in? %>
       
        <!-- ログインしていたら以下を表示 -->
          <div class="login-name header-button">
            <%= link_to "#{current_user.name}", mypages_path ,method: :get, class:"link" %>
          </div>
          <div class="log-out header-button">
            <%= link_to "ログアウト", destroy_user_session_path ,method: :delete, class:"link" %>
          </div>
          <% if current_page?(root_path) %>
            <% if user_signed_in? %>
              <div class="tweet-button">
                  <div class="tweet">
                    <%= link_to new_sound_path , class:"link" do%>
                    
                    <i class="fas fa-paper-plane fa-3x"></i>
                    <% end %>
                  </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
           <!-- 未ログインなら以下を表示 -->
          <div class="log-in header-button">
            <%= link_to "ログイン", new_user_session_path, class:"link" %>
          </div>
          <div class="sign-in header-button">
            <%= link_to "新規登録", new_user_registration_path, class:"link" %>
          </div>
        <% end %>
      </div>

      <div class="modal_on" id="modal_on">
        ヘルプ
      </div>

      <div>
        <%= render partial: "/sounds/modal" %>
      </div>
      
    </header>
    <%= yield %>
  </body>
</html>
